:root {
  --backdrop-container-height: 400px;
}

.Movie-backdrop-container {
  height: var(--backdrop-container-height);
  width: 100%;
}

.Movie-main-info-container {
  position: absolute;
  height: var(--backdrop-container-height);
  padding: 12px 24px 0 24px;
  background: rgba(0, 0, 0, 0.44);
}

.MuiTypography-root.Movie-main-info-container-header-title {
  margin-right: 16px;
  color: #ffffff;
  font-weight: bold;
}

.Movie-main-info-container-header-vote-badge {
  width: 100px;
  flex-shrink: 0;
  text-align: center;
}

.MuiTypography-root.Movie-main-info-container-header-tagline {
  color: #ffffff;
  font-style: italic;
}

.Movie-additional-info {
  padding: 16px 0 0 16px;
}

.Movie-additional-info-recommendations-title {
  padding-right: 16px;
}
