.Movie-backdrop-container {
  height: var(--backdrop-container-height);
  width: 100%;
}

.Movie-additional-info {
  padding: 16px 0 0 16px;
}

.Movie-additional-info-recommendations-title {
  padding-right: 16px;
}
