.Search {
  margin-left: auto;
}

.Search:hover,
.Search:active {
  background-color: rgba(255, 255, 255, 0.25);
}

.Search-popper {
  z-index: 1200;
}

.Search-popper-results {
  margin-top: 4px;
  max-height: 300px;
  width: 318px;
  overflow: hidden auto;
}

.Search-popper-no-results {
  padding: 16px;
  text-align: center;
}

.Search-popper-in-progress {
  display:flex;
  justify-content: center;
  padding: 16px;
}
